:root {
  --grid-gap: 2.5rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


img {
  width: 20rem;
  height: 20rem;
}

figcaption {
  font-size: 1.55rem;
}

.container {
  margin: auto;
  max-width: calc(80rem + (3 * var(--grid-gap)));
}

#search {
  display: block;
  width: 59.5%;
  min-width: 20rem;
  height: 5rem;
  border-radius: 0.5rem;
  border-color: lightgrey;
  border-style: solid;
  text-indent: 1rem;
  margin: var(--grid-gap) auto;

}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  gap: var(--grid-gap);
  margin-bottom: var(--grid-gap);
}